<table>
<tr>
  <th>Capstone</th>
  <th>Creator</th>
  <th>Thumbnail</th>
</tr>
<% @capstones.each do |capstone| %>
<tr>
<td><a href = "/catalogs/<%= capstone["id"] %>"><%= capstone["capstone"]["cap_name"]%></a></td>
<td><%= "#{capstone["first_name"]} #{capstone["last_name"]}" %></td>
<td><img src="<%= capstone["capstone"]["cap_ss"]%>" height="125" width="175"/></td>
</tr>
<% end %>
</table>