<table>
<tr>
  <th>Capstone</th>
  <th>Creator</th>
  <th>Thumbnail</th>
</tr>
<% @catalogs.each do |catalog| %>
<tr>
<td><a href = "/catalogs/<%= catalog.id %>"><%= catalog.capstone_name%></a></td>
<td><%= "#{catalog.first_name} #{catalog.last_name}" %></td>
<td><img src="<%= catalog.capstone_screen %>" height="125" width="175"/></td>
</tr>
<% end %>
</table>